:root {
  --black: #1a1a1a;

  --primary-black: #14171a;
  --secondary-black: #141a18;
  --alternative-black: #17171a;
  --accent-black: #1f1d19;

  --white: #ffffff;
  --primary-white: #e6eff8;
  --secondary-white: #e6f8f5;
  --alternative-white: #e6e9f8;
  --accent-white: #fdf9eb;
  --danger-white: #f8ebea;

  // Dark Midnight Blue
  --primary-darker: #192534;
  --primary-dark: #13314d;
  --primary: #0d3b66;
  --primary-light: #266299;
  --primary-lighter: #73aee6;

  // Celadon Green
  --secondary-darker: #18342e;
  --secondary-dark: #134d42;
  --secondary: #2e8272;
  --secondary-light: #269984;
  --secondary-lighter: #73e6d1;

  // Independence
  --alternative-darker: #292a34;
  --alternative-dark: #373a4d;
  --alternative: #484d6d;
  --alternative-light: #6e7499;
  --alternative-lighter: #afb6e6;

  // Old Lace
  --old-lace: #f9f6e8;

  // Sunglow
  --accent-lighter: #dfce93;
  --accent-light: #ffe071;
  --accent: #ffd335;
  --accent-dark: #a08834;
  --accent-darker: #5e5125;

  --danger-disabled: #b91d0c;
  --danger-active: #d52815;
  --danger: #b91d0c;
  --danger-light: #d52815;
  --danger-lighter: #ec9b92;

  --grey-darkest: #19171c;
  --grey-darker: #322f37;
  --grey-dark: #575260;
  --grey: #898395;
  --grey-light: #b8b5c0;
  --grey-lighter: #dad8de;
  --grey-lightest: #f8f7f9;
  --grey-bleach: #faf9fa;
}
